@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

body {
	font-family: 'PT Sans', sans-serif;
	position: relative;
	background-color: white;
	min-height: 100%;
	min-width: 960px;
	margin: 0px;
}

header {
	text-align: center;
	width: 100%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.row {
	width: 940px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.albumTtile {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.albumPrev, .albumNext {
	width: 20%;
	text-align: center;
	height: calc(100vh - 140px);
	background: #6598de;
	position: relative;
}

.albumPrev {
	float: left;
}

.albumNext {
	float: right;
}

.albumPrev:before {
	left: 0;
}

.albumNext:before {
	right: 0;
}

.albumNext:before, .albumPrev:before {
	content:'';
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}

.albumPrev:hover:before, .albumNext:hover:before {
	width: 30%;
}

.albumBody {
	overflow-y: scroll;
	width: calc(100% - 40%);
	float: left;
	height: calc(100vh - 140px);
}

.albumBody::-webkit-scrollbar-track {
	border-radius: 4px;
}

.albumBody::-webkit-scrollbar {
	width: 7px;
}

.albumBody::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #f0f2f5;
}

.albumBody:hover::-webkit-scrollbar-thumb {
	background: #6a7d9b;
}

.albumItem {
	width: calc((100% / 3) - 10px);
	float: left;
	margin: 0px 5px 10px 5px;
	text-align: center;
}


.albumItem>a {
	display: block;
}

.albumItem>a>img {
	min-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 1024px) {
	html, body {
		min-width: 100%;
	}

	.container {
		width: 100%;
	}

	.row {
		width: 100%;
		margin: 0;
	}

	.albumItem {
		width: calc((100% / 2) - 10px);
	}
}

@media (max-width: 500px) {
	.albumItem {
		width: calc(100% - 10px);
	}
}